[build]
builder = "nixpacks"
buildCommand = "chmod +x build.sh && ./build.sh"

[deploy]
releaseCommand = "python manage.py migrate --noinput"
startCommand = "gunicorn gaytri_farm_app.wsgi:application --bind 0.0.0.0:$PORT --workers 2 --timeout 120"
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 10



# Environment variables
[deploy.env]
PYTHONUNBUFFERED = "1"
DJANGO_SETTINGS_MODULE = "gaytri_farm_app.settings"
Environment = "production"

# Service configuration for web service
[[services]]
name = "web"
type = "web"
